
doctype html 
html(lang="ru") 
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Relvise 
        link(rel="shortcut icon" href="Images/icon-site.svg")
        link(rel="stylesheet" href="CSS/icon.css")
        link(rel="stylesheet" href="CSS/normalize.css")
        link(rel="stylesheet" href="CSS/sal.css")
        link(rel="stylesheet" href="CSS/style.css")
    body 
        .main-block 
            header.header 
                a.logo(href="#" target="_blank") Relvise
                nav.nav
                    ul.main-menu 
                        li.main-menu__item
                            a.link__menu(href="#" target="_blank") Home 
                        li.main-menu__item
                            a.link__menu(href="#" target="_blank") Product 
                        li.main-menu__item 
                            a.link__menu(href="#" target="_blank") Pricing 
                        li.main-menu__item
                            a.link__menu(href="#" target="_blank") Contact 
                .burger-menu 
                    .burger-line
            .wrapper-content
                .main-block__content.content-main
                    .content-main__title(data-sal="slide-up") Finance and Consultancy Solution
                    .content-main__subtitle(data-sal="slide-up" data-sal-delay="300") We know how large objects will act, but things on a small scale.
                    .content-main__action.buttons-main 
                        a(href="#" target="_blank").buttons-main__item Get Quote Now
                        a(href="#" target="_blank").buttons-main__item Learn More
        .cards-actions 
            .cards-actions__wrapper 
                .cards-actions__item(data-sal="zoom-in" data-sal-easing="ease-out" data-sal-delay="500")
                    .cards-actions__icon.icon.icon-backpack
                    .cards-actions__title Environmental Consulting 
                    .cards-actions__text We focus on ergonomics and meeting you where you work.
                .cards-actions__item(data-sal="zoom-in" data-sal-delay="700" data-sal-easing="ease-out")
                    .cards-actions__icon.icon.icon-shop
                    .cards-actions__title Finance and consultancy 
                    .cards-actions__text Just type what's on your mind and we'll get you there.
                .cards-actions__item(data-sal="zoom-in" data-sal-delay="900" data-sal-easing="ease-out")
                    .cards-actions__icon.icon.icon-services
                    .cards-actions__title Financial Services Consulting
                    .cards-actions__text the quick fox jumps over the lazy dog 
        .experience 
            .experience__wrapper
                .experience__title Designing Better Experience
                .experience__subtitle Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics 
                .experience-card 
                    .experience-card__item(data-sal="slide-up")
                        .experience-card__icon.icon.icon-people
                        .experience-card__title 972 +
                        .experience-card__text Consumer Products  
                    .experience-card__item(data-sal="slide-up" data-sal-delay="200")
                        .experience-card__icon.icon.icon-rate
                        .experience-card__title 181 +
                        .experience-card__text Financial Services  
                    .experience-card__item(data-sal="slide-up" data-sal-delay="400")
                        .experience-card__icon.icon.icon-achieve
                        .experience-card__title 98%
                        .experience-card__text Environmental 
                    .experience-card__item(data-sal="slide-up" data-sal-delay="600")
                        .experience-card__icon.icon.icon-backpack
                        .experience-card__title 746 +
                        .experience-card__text Business & Finance 
        .practice 
            .practice__wrapper 
                .practice__title Practice Advice
                .practice__subtitle Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics 
                .practice-cards 
                    .practice-cards__item(data-sal="fade" data-sal-duration="1100")
                        .practice-cards__inner 
                            .practice-cards__content 
                                .practice-cards__title A single source of truth
                                .practice-cards__text Newton thought that light was made up of particles, but then it was discovered 
                            .practice-card__img 
                                img(src="Images/card1.jpg" alt="picture card").img-practice
                    .practice-cards__item(data-sal="fade" data-sal-delay="200" data-sal-duration="1100")
                        .practice-cards__inner 
                            .practice-cards__content
                                .practice-cards__title Fastest way to organize
                                .practice-cards__text “Quantum mechanics” is the description of the behaviour of matter
                            .practice-card__img 
                                img(src="Images/card2.jpg" alt="picture card").img-practice
                    .practice-cards__item(data-sal="fade" data-sal-delay="400" data-sal-duration="1100")
                        .practice-cards__inner 
                            .practice-cards__content
                                .practice-cards__title Fastest way to take action
                                .practice-cards__text They describe a universe consisting of bodies moving
                            .practice-card__img 
                                img(src="Images/card3.jpg" alt="picture card").img-practice
                    .practice-cards__item(data-sal="fade" data-sal-delay="600" data-sal-duration="1100")
                        .practice-cards__inner 
                            .practice-cards__content
                                .practice-cards__title Work better together
                                .practice-cards__text They finally obtained a consistent description of the behaviour 
                            .practice-card__img 
                                img(src="Images/card4.jpg" alt="picture card").img-practice
        .about 
            .about__wrapper        
                .about__title Who We Are
                .about__subtitle Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics 
                .about-content-main  
                    .about-video(data-sal="slide-right" data-sal-duration="1300")
                        button.about-video__play 
                        img(src="Images/video.jpg" alt="video picture").about-video__img 
                    .about-content 
                        .about-content__title Most trusted in our field
                        .about-content__subtitle Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
                        .about-content-list 
                            .about-content-list__item 
                                .about-content-list__icon.icon.icon-many-people
                                .about-content-list__content 
                                    .about-content-list__title the quick fox jumps over the lazy dog
                                    .about-content-list__text Things on a very small scale ...
                            .about-content-list__item 
                                .about-content-list__icon.icon.icon-speed
                                .about-content-list__content 
                                    .about-content-list__title the quick fox jumps over the lazy dog
                                    .about-content-list__text Things on a very small scale ...
        .sponsor-sub 
            .sponsor-sub__wrapper 
                .spoiler-sponsors 
                    button.spoiler-sponsors__title Sponsors 
                    ul.sponsors 
                        li.sponsors__item(data-sal="slide-right") 
                            img(src="Images/sponsor1.svg" alt="sponsor picture").sponsor__img
                        li.sponsors__item(data-sal="slide-right" data-sal-delay="150")
                            img(src="Images/sponsor2.svg" alt="sponsor picture").sponsor__img
                        li.sponsors__item(data-sal="slide-right" data-sal-delay="300")
                            img(src="Images/sponsor3.svg" alt="sponsor picture").sponsor__img
                        li.sponsors__item(data-sal="slide-right" data-sal-delay="450")
                            img(src="Images/sponsor4.svg" alt="sponsor picture").sponsor__img       
                        li.sponsors__item(data-sal="slide-right" data-sal-delay="600")
                            img(src="Images/sponsor5.svg" alt="sponsor picture").sponsor__img
                        li.sponsors__item(data-sal="slide-right" data-sal-delay="750")
                            img(src="Images/sponsor6.svg" alt="sponsor picture").sponsor__img
                .subscribe
                    .subscribe__title Subscribe For Latest Newsletter
                    .subscribe-content 
                        form(method="GET" action="#").subscribe-content-form 
                            input(type="email" value="" placeholder="Your Email" name="send-input").subscribe-content-form__input
                            button.subscribe-content-form__button Subscribe
            .subscribe-line 
        .support 
            .support-wrapper
                .support-header 
                    .support-header__title Get In Touch
                    .support-header__subtitle Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics  
                .support-content 
                    .support-content-item(data-sal="slide-left")
                        .support-content-item__icon.icon.icon-phone
                        .support-content-item__subtitle
                            a(href="georgia.young@example.com" target="_blank") georgia.young@example.com
                            a(href="georgia.young@ple.com" target="_blank") georgia.young@ple.com
                        .support-content-item__title Get Support
                        a.support-content-item__link(href="#" target="_blank") Submit Request
                    .support-content-item(data-sal="slide-left" data-sal-delay="200")
                        .support-content-item__icon.icon.icon-location
                        .support-content-item__subtitle
                            a(href="georgia.young@example.com" target="_blank") georgia.young@example.com
                            a(href="georgia.young@ple.com" target="_blank") georgia.young@ple.com
                        .support-content-item__title Get Support
                        a.support-content-item__link(href="#" target="_blank") Submit Request
                    .support-content-item(data-sal="slide-left" data-sal-delay="400")
                        .support-content-item__icon.icon.icon-send
                        .support-content-item__subtitle
                            a(href="georgia.young@example.com" target="_blank") georgia.young@example.com
                            a(href="georgia.young@ple.com" target="_blank") georgia.young@ple.com
                        .support-content-item__title Get Support
                        a.support-content-item__link(href="#" target="_blank") Submit Request
        .consulting 
            .consulting-wrapper 
                .consulting-content 
                    .consulting-content__title Consulting Agency For Your Business
                    .consulting-content__text the quick fox jumps over the lazy dog
                a(href="#" target="_blank").consulting__btn Contact Us
        .contacts 
            .contacts-wrapper 
                .contacts-item 
                    button.contacts-title Company Info
                    ul.contacts-block 
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link About Us
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Carrier
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link We are hiring
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Blog
                .contacts-item 
                    button.contacts-title Legal
                    ul.contacts-block 
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link About Us
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Carrier
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link We are hiring
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Blog
                .contacts-item 
                    button.contacts-title Features
                    ul.contacts-block 
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Business Marketing
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link User Analytic
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Live Chat
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Unlimited Support
                .contacts-item 
                    button.contacts-title Resources
                    ul.contacts-block 
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link IOS & Android
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Watch a Demo
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link Customers
                        li.contacts-block-item
                            a(href="#" target="_blank").contacts-block-item__link API
                .contacts-item 
                    button.contacts-title Get In Touch
                    ul.contacts-block 
                        li.contacts-block-item.contacts-last
                            .contacts-block-item__icon.icon.icon-phone
                            a(href="(480) 555-0103" target="_blank").contacts-block-item__link (480) 555-0103
                        li.contacts-block-item.contacts-last
                            .contacts-block-item__icon.icon.icon-location
                            a(href="#" target="_blank").contacts-block-item__link W4517 Washington Ave. Manchester, Kentucky 39495
                        li.contacts-block-item.contacts-last
                            .contacts-block-item__icon.icon.icon-send
                            a(href="debra.holt@example.com" target="_blank").contacts-block-item__link debra.holt@example.com
        footer.footer 
            .footer-wrapper 
                .footer-wrapper__text Made With Love By Figmaland All Right Reserved 
                ul.footer-content 
                    li.footer-content__item 
                        a(href="http://facebook.com" target="_blank").icon.icon-facebook
                    li.footer-content__item 
                        a(href="http://instagramm.com" target="_blank").icon.icon-instagramm
                    li.footer-content__item 
                        a(href="http://twitter.com" target="_blank").icon.icon-twitter
                    li.footer-content__item 
                        a(href="http://youtube.com" target="_blank").icon.icon-youtube
        button.btn-upper 
            img(src="Images/white-arrow.svg" alt="upper image").btn-upper__img


        script(src="JS/sal.js")
        script(src="JS/main.js")
